<a href="https://colab.research.google.com/github/kathembo-tsongo/Python_for_Data_Analytics_Project/blob/main/MyDataAnalyticsPage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercises 1

## Objects and variables
## An object is a thing that stores data(called again attribute)

In [ ]:
car = "Toyota"
print(car)

Toyota

## Check the type of the car object

In [ ]:
print(type(car))

<class 'str'>

## Lists and Tuples

In [ ]:
my_list = [50,40,30]
print(my_list)
my_list.append(25)
print(my_list)
my_list.remove(40)
print(my_list)

[50, 40, 30]
[50, 40, 30, 25]
[50, 30, 25]

In [ ]:
my_tuple = (30,20,10)
print(my_tuple)
my_tuple.remove(20)
print(my_tuple)

(30, 20, 10)

AttributeError: 'tuple' object has no attribute 'remove'

##Dictionaries

In [10]:
employees = {"Name": "Tsongo", "Salary": 5000}
print(employees)

{'Name': 'Tsongo', 'Salary': 5000}

##Structure Data with Pandas using DataFrame

In [13]:
import pandas as pd

data = pd.DataFrame(
    {
        "Name": ["Tsongo","Dido"],
        "Salary": [50,40]
    }
)
print(data)

     Name  Salary
0  Tsongo      50
1    Dido      40

##Methods and Functions
###A Methode is a function that belong to an object. That is why it has to attached to the object using the dot notation.

In [22]:
import pandas as pd

data = pd.DataFrame({
    "Salary": [50,40,10,20]
    }
)
print(data["Salary"].mean())

30.0